@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
}


section {
    padding: 4em 2em 4em 2em;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  
  .nav-container {
    background: #4164DF;
  }
  
  .nav-container a {
    color: #3FE4DB;
  }
  
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em 2em;
  }
  
  header a:hover,
  header a:focus {
    color: #3FE4DB;
  }
  
  header li a:hover,
  header li a:focus {
    color: #fff;
  }
  
  header .logo {
    color: white;
    font-weight: bold;
  }
  
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  header nav ul li a {
    display: block;
    padding: 0em 1em;
  }
  

/* ==========
   Footer
   ========== */
   .footer {
    background: #4441df;
    text-align: center;
  }
  
  .footer h1 {
    padding-top: 1em;
    line-height: 0.8;
    text-shadow: -2px -2px #616161;
  }
  
  .footer * {
    color: #fff;
  }
  
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1em;
  }
  
  .footer ul li {
    margin: 0em 1em;
  }
  
  .footer ul img {
    height: 30px;
    width: 30px;
  }
  
  .footer a:hover,
  .footer a:focus {
    background: #4441DF;
  }
  
  .footer-social {
    padding-top: 2em;
  }
  
  .footer-container p {
    display: block;
    padding: 1em;
  }
  
  .footer-images {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  
  .footer-images img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  .copyright-section {
    color: rgba(68, 65, 223, 0.7);
    padding: 1em;
  }
  

  .desc {
    font-weight: 300;
    font-size: 1em;
    color: #616161;
  }
  