/* Table of Content
==================================================
	#BASIC TYPOGRAPHY
	#HOME HEADER
  #BANNER
  #ABOUT US GRID
  #OUR TESTIMONIALS
  #HIGHLIGHTS 
  #FOOTER 
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/
html{
  height: 100%;
}

body,html{
  overflow-x:hidden;
}
body {
  font-family: 'Merriweather', serif;
  overflow-x: hidden !important;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding-top: 20px;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{ 
  text-decoration: none;
  color: #2f2f2f;
  
}
a:focus{
  outline: none;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Varela', sans-serif;	
}

h2 {
  color: #313338;  
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;  
}
img{
 border:none;
}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#000; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(img/status.GIF); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*scrol to top*/

.scrollToTop {
  background: url("img/bootom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
  border: 3px solid #f0f1f3;
  border-radius: 5px;
  bottom: 20px;
  display: inline-block;
  height: 54px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 54px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}
.scrollToTop:hover{
  background-position: 13px -50px;  
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* HOME HEADER */
/*--------------------*/
#header{
	float: left;
	display: inline;
	width: 100%;
  /*background-color: #323232;*/
  background-color: #323232;  

}
/*--------.menu_area-------- */
.menu_area{
  float: left;
  display: inline;
  width: 100%;
}
.navbar-default .navbar-brand {
  color:  #90a4ae;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px; 
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: transparent;
  color: #3498db;
}
.navbar-default {
  /*background-color: #8e44ad;*/
  background-color: #fff;
  border-color: transparent;
}
#navbar{overflow-x: hidden;}
.navbar-default .navbar-nav > li > a {
  color:  #90a4ae;
  padding: 30px 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #48575a; 
}
.navbar-nav > li > .dropdown-menu:before { 
  border-bottom: 15px solid #48575a; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 25px;
  top: -15px;
  width: 0;
}
.navbar-nav > li > .dropdown-menu li a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  color: #fff;
  display: block;  
  opacity: 0.8;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav > li > .dropdown-menu > li:last-child a {
  border-bottom: medium none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color:transparent;  
  text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;  
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}
/*--------------------*/
/* BANNER SECTION */
/*--------------------*/
.banner-area{
  padding: 20px 0;
  margin: 20px 0 0 0;
  height: 490px;
  width: 100%;
  text-align: center;
  position: relative;
  -webkit-background-size: cover;
  background: rgb(52, 152, 219);
/*  background: linear-gradient(to bottom right,  #0066FF, #660099);
  /*background: linear-gradient(to bottom right,  #1f618d,  #7fb3d5);*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}
.banner-area h2{
  padding-top: 6%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}

/*--------------------*/
/* HOME ABOUT US SECTION */
/*--------------------*/
.heading1 h1{
  text-align: center;
  font-weight: 240px;
  position: relative;
  margin-top: 0;
  font-size: 40px;
  font-family: "Merriweather", serif;
}

.heading2 h1{
  text-align: center;
  font-weight: 240px;
  position: relative;
  margin-top: 0;
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.about-us-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color:  #f0f1f3;
  padding: 22px;
  grid-template-areas:
  "img1 text1"
  "text2 img2";
}
.about-us-area > *{
  padding: 20px;
  align-items: center;
}
.about-us-area img{
  height: 200px;
  left: 0;
  margin-top: -75px;
  top: 50%;
  width: 300px;
  position: relative;
  object-fit: cover;  
}
.about-row-1-img{
  grid-area: img1;
  align-items: left;
}
.about-row-2-img{
  grid-area: img2;
  align-items: left;
}
.about-us-area p{
  text-align: justify;
  line-height: 30px;
  font-weight: 400;
  font-style: bold;  
}
.about-row-1-text{
  grid-area: text1;
}
.about-row-2-text{
  grid-area: text2;
  text-align: justify;
  line-height: 30px;
}
/*--------------------*/
/* TESTIMONIAL SECTION */
/*--------------------*/
.testimonial-area{
  padding: 80px 0;
  position: relative;
  background-color: rgb(52, 152, 219);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}
.testimonial-area:before{
  position: absolute;
  content: '';
  background: rgb(52, 152, 219);
  width: 100%;
  height: 100%;
  top: 0;
  left:0;

}
.testimonial-area p{
  text-align: center;
  font-weight: 240px;
  position: relative;
  margin-top: 0;
  padding-bottom: 50px;
  font-size: 50px;
  color: #fff;
}
.single-testimonial{
  color: #fff;
  padding-left: 75px;
  position: relative;
  margin: 0 15px 15px;
}
.single-testimonial-img-area{
  border-radius: 50%;
  height: 150px;
  left: 0;
  margin-top: -75px;
  position: absolute;
  top: 50%;
  width: 150px;
}
.testi-text{
  /*background: #FFFF4A;*/
  background: rgb(52, 152, 219);  
  padding: 40px 20px 40px 100px;
  color: #fff;
}
.single-testimonial-img-area > img{
  background: linear-gradient(to bottom,  #4a235a, white);
  border-radius: 50%;
  padding: 5px;
}
.testi-text h4{
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Merriweather";
}
.testi-text h4 span{
  display: block;
  font-size: 14px;
}
.testi-text p{
  font-family: "Merriweather";
  line-height: 25px;
  font-size: 18px;
  text-align: justify;
}
.single-testimonial:hover .testi-text{
  background:  #b0bec5;
  transition: 0.9s;
  color: black;
}
.test-text:hover p:hover{
  color: black;  
}
.testimonial-area div.owl-nav{
  color: #FFFF4A;
  display: inline-block;
  font-size: 55px;
  height: 60px;
  margin-top: -30px;
  text-align: center;
  width: 40px;
  transition: 0.3s;
}
.owl-prev, .owl-next{
  position: absolute;
}
.owl-prev{
  left: -20px;
  top: 80px;
}
.owl-next{
  right: -20px;
  top: 80px;
}
/*--------------------*/
/* HIGHLIGHTS SECTION */
/*--------------------*/
.highlight-box-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.single-highlight{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  background: #efebe9;
  text-align: justify;
  margin: 20px;
  padding: 20px;
  transition: .3s;
}
.single-highlight:hover{
  background:   rgb(52, 152, 219);
  /*  #6c3483*/
  color: #fff;
}
.highlight-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border:  6px solid #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 20px;
  position: ;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.highlight-text{
  font-family: poppins;
}
.highlight-text p{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.highlight-header-text{
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
/*--------------------*/
/* FOOTER SECTION */
/*--------------------*/
.footer-area {
    position: relative;
    z-index: 1;
    background-color: rgb(52, 152, 219);
    /*  #111343*/ 
}

.footer-area .row {
    margin-left: -30px;
    margin-right: -30px;
}

@media only screen and (max-width: 767px) {
    .footer-area .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.footer-area .row .col-12 {
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 767px) {
    .footer-area .row .col-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.main-footer-area {
    position: relative;
    z-index: 1;
}

.main-footer-area .single-footer-widget .widget-title {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.main-footer-area .single-footer-widget p {
    color: #fff;
    font-size: 14px;
}

.main-footer-area .single-footer-widget p i {
    margin-right: 5px;
}

.main-footer-area .single-footer-widget .footer-logo {
    display: block;
    margin-bottom: 20px;
}

.main-footer-area .single-footer-widget .social-info a {
    height: 34px;
    width: 34px;
    border: 1px solid #3d3e66;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    color: #ffffff;
    font-size: 15px;
    margin-right: 8px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.main-footer-area .single-footer-widget .social-info a:hover,
.main-footer-area .single-footer-widget .social-info a:focus {
    background-color: #5d5e8d;
    border-color: #5d5e8d;
}

.main-footer-area .single-footer-widget .footer-contact-info {
    position: relative;
    z-index: 1;
}

.main-footer-area .single-footer-widget .footer-contact-info p {
    margin-bottom: 13px;
}

.main-footer-area .single-footer-widget .footer-contact-info p:last-child {
    margin-bottom: 0;
}

.main-footer-area .single-footer-widget .footer-nav {
    position: relative;
    z-index: 1;
}

.main-footer-area .single-footer-widget .footer-nav li a {
    color: #9293bc;
    font-size: 14px;
    margin-bottom: 15px;
    display: inline-block;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.main-footer-area .single-footer-widget .footer-nav li a:hover,
.main-footer-area .single-footer-widget .footer-nav li a:focus {
    color: #ffffff;
}

.main-footer-area .single-footer-widget .footer-nav li:last-child a {
    margin-bottom: 0;
}

.main-footer-area .single-footer-widget .footer-gallery .row {
    margin-right: -5px;
    margin-left: -5px;
}

.main-footer-area .single-footer-widget .footer-gallery .row .col-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.main-footer-area .single-footer-widget .footer-gallery a {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.main-footer-area .single-footer-widget .footer-gallery a img {
    border-radius: 5px;
    width: 100%;
}

.main-footer-area .single-footer-widget .footer-gallery a::before {
    background: #c63fa4;
    background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
    background-image: -ms-linear-gradient(120deg, #505add 0%, #df42b1 100%);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    border-radius: 5px;
}

.main-footer-area .single-footer-widget .footer-gallery a:hover::before {
    visibility: visible;
    opacity: 0.8;
}

.copywrite-content {
    border-top: 1px solid #414269;
    padding: 15px 0;
}

@media only screen and (max-width: 767px) {
    .copywrite-content {
        text-align: center;
    }
}

.copywrite-content .copywrite-text p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .copywrite-content .copywrite-text p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .copywrite-content .copywrite-text p {
        font-size: 12px;
    }
}

.copywrite-content .copywrite-text p a {
    color: #ffffff;
    font-weight: 400;
}

.copywrite-content .copywrite-text p a:hover,
.copywrite-content .copywrite-text p a:focus {
    color: #df42b1;
}

.copywrite-content .footer-menu {
    position: relative;
    z-index: 1;
}

.copywrite-content .footer-menu .nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
    .copywrite-content .footer-menu .nav {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.copywrite-content .footer-menu .nav li {
    margin-right: 20px;
}

.copywrite-content .footer-menu .nav li:last-child {
    margin-right: 0;
}

.copywrite-content .footer-menu .nav li a {
    color: #9293bc;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .copywrite-content .footer-menu .nav li a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .copywrite-content .footer-menu .nav li a {
        font-size: 12px;
    }
}

.copywrite-content .footer-menu .nav li a i {
    position: relative;
    z-index: 1;
    top: -2px;
    font-size: 6px;
    margin-right: 2px;
    color: #505add;
}

.copywrite-content .footer-menu .nav li a:hover,
.copywrite-content .footer-menu .nav li a:focus {
    color: #ffffff;
}


/*--------------------*/
/* RESPONSIVE SECTION */
/*--------------------*/

/*-- Responsive About Us --*/
@media screen and (max-width: 600px){
    .about-us-area{
      grid-template-columns: 1fr;
      grid-template-areas:
      "img1"
      "text1"
      "img2" 
      "text2";
    }
}

/*-- Responsive Banner --*/
@media only screen and (max-width: 767px){
  .banner-area{
    height: 200px;
  }
  .banner-area h2{
    font-size: 20px;
    /*padding: 5px;*/
    letter-spacing: 4px;
    line-height: 10px;
  }
}
/*-- Responsive Testimonial --*/
@media only screen and (max-width: 767px){
  .testimonial-area{
    padding: 15px 0;
  }
  .testimonial-area p{
    padding-bottom: 10px;
    font-size: 20px;
  }
  .single-testimonial{
    padding-left: 0;
    padding-top: 75px;
  }
  .single-testimonial-img-area{
    left: 50%;
    margin-left: -75px;
    top: 75px;
  }
  .testi-text{
    padding: 80px 25px 25px;
  }
  .testi-text h4{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .testi-text p{
    font-size: 16px;
  }
  .owl-prev{
    left: -10px;
    top: 150px;
  }
  .owl-next{
    right: -10px;
    top: 150px;
  }
}


/*-- Responsive Footer --*/
